# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.obj

# Executables
*.exe
*.out
*.app
GMgame/DX11Game/DX11GameD.pdb
GMgame/DX11Game/DX11GameD.ilk
GMgame/.vs/DX11Game/v15/ipch/AutoPCH/d41f16f73f863dfe/DEBUGPROC.ipch
GMgame/.vs/DX11Game/v15/ipch/AutoPCH/46eb27287aff910b/ASSIMPMODEL.ipch
GMgame/.vs/DX11Game/v15/ipch/AutoPCH/2953d45f1bfa993c/BG.ipch
GMgame/.vs/DX11Game/v15/Browse.VC.db
GMgame/DX11Game/x64/Debug/vc141.pdb
GMgame/DX11Game/x64/Debug/vc141.idb
GMgame/DX11Game/x64/Debug/DX11Game.log
GMgame/DX11Game/data/shader/Vertex2D.cso
GMgame/DX11Game/data/shader/Vertex.cso
GMgame/DX11Game/data/shader/Pixel.cso
GMgame/DX11Game/data/shader/AssimpPixel.cso
GMgame/DX11Game/DX11GameD.exp
GMgame/.vs/DX11Game/v15/.suo
GMgame/DX11Game/data/shader/Pixel2D.cso
GMgame/DX11Game/data/shader/AssimpVertex.cso
GMgame/DX11Game/x64/Debug/DX11Game.tlog/CL.command.1.tlog
GMgame/DX11Game/x64/Debug/DX11Game.tlog/CL.read.1.tlog
GMgame/DX11Game/x64/Debug/DX11Game.tlog/CL.write.1.tlog
GMgame/DX11Game/x64/Debug/DX11Game.tlog/DX11Game.lastbuildstate
GMgame/DX11Game/x64/Debug/DX11Game.tlog/DX11Game.write.1u.tlog
GMgame/DX11Game/x64/Debug/DX11Game.tlog/fxc.command.1.tlog
GMgame/DX11Game/x64/Debug/DX11Game.tlog/fxc.read.1.tlog
GMgame/DX11Game/x64/Debug/DX11Game.tlog/fxc.write.1.tlog
GMgame/DX11Game/x64/Debug/DX11Game.tlog/link.command.1.tlog
GMgame/DX11Game/x64/Debug/DX11Game.tlog/link.delete.1.tlog
GMgame/DX11Game/x64/Debug/DX11Game.tlog/link.read.1.tlog
GMgame/DX11Game/x64/Debug/DX11Game.tlog/link.write.1.tlog
GMgame/DX11Game/x64/Debug/DX11Game.tlog/rc.command.1.tlog
GMgame/DX11Game/x64/Debug/DX11Game.tlog/rc.read.1.tlog
GMgame/DX11Game/x64/Debug/DX11Game.tlog/rc.write.1.tlog
GMgame/.vs/DX11Game/v15/Browse.VC.opendb
Assimp/
DirectXTex/
.vs/
.obj